/* =============== Common Styles =============== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

ul,
ol {
    list-style-type: none;
    margin: auto;
    padding: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
   
}

/* =============== Header Styles =============== */
.header {
    border-bottom: 1px solid #e7e9fc;
    background-color: #ffffff;
}

.header-container {
    display: flex;
    max-width: 1158px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px ;

}

.header-nav {
    font-family: "roboto", serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2em;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
     margin-right: 76px;
   
}

.logo-2 {
    color: #2e2f42;
}

.nav-menu {
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: "Roboto", serif;
}

.menu-nav {
    display: flex;
    gap: 40px;
    align-items: center;
  
}

.header-list {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.header-list:hover {
    color: #404bbf;
}

.header-list:active {
    color: #404bbf;
}

.header-list:focus {
    color: #404bbf;
}

.header-ddress {
    font-style: normal;
}

.nav-contact {
    display: flex;
    gap: 40px;
    justify-content: end;

}

.menu-contact {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
}

.header-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-contact:hover {
    color: #404bbf;
}

.header-contact:focus {
    color: #404bbf;
}

/* =============== Title Styles =============== */
.title {
    padding: 188px 0;
    background-color: #2e2f42;  
}

.container {
    max-width: 1158px;
    margin: auto;
}

.title-name {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    max-width: 496px;
}

.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 68px;
    font-weight: 500;
    font-size: 16px;
}

.button:focus {
    background-color: #404bbf;
}

.button:hover {
    background-color: #404bbf;
}

/* =============== Section Plan =============== */
.plan-menu-text {
    padding: 120px 0;
}

.plan-container {
    max-width: 1158px;
    margin: 0px auto;
}

.list-plan {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.menu-plan {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    flex-basis: calc( (100% - 3 * 24px) / 4);
}

.plan-title {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-plan {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* === section team === */
.team {
    padding: 120px 0;
    border-radius: 0 0 4px 4px;
    background: #f4f4fd;
}

.user-container {
    max-width: 1158px;
    margin: 0px auto;
}

.our-team {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.our-items {
    display: flex;
    gap: 24px;

}

.items {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0px 0px 32px 0px;
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc( (100% - 3 * 24px) / 4);
    background-color: #FFFFFF;
}

.person {
    width: 232px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px 0;
}

.titel-items {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.profesion {
    display: flex;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* === section Portfolio === */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-container {
    max-width: 1158px;
    margin: 0px auto;
}

.portfolio-title {
    margin-bottom: 72px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.items-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.foto-card {
    width: calc( (100% - 48px) / 3);
    border-bottom: 1px solid #e7e9fc;
    background-color: #fff;
    
    
}

.portfolio-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    gap: 8px;
}

.portfolio-link {
    display: inline-flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.card-text {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

/* === section Footer === */
.footer-title {
    padding: 100px 0px;
    background-color: #2e2f42;
    color: rgb(255, 255, 255);
}

.footer-container {
    max-width: 1158px;
    margin: 0px auto;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio-span {
    color: #f4f4fd;
}

.main-text {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-family: "Roboto", serif;
}