/* =============== Common Styles =============== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

img {
  display: block;
  height: auto;
  max-width: auto;
}

ul,
ol {
  list-style-type: none;
  margin-top: auto;
  padding: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-header,
  .container-title,
  .container-plan,
  .container-user,
  .container-portfolio, 
  .container-footer {
  max-width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  padding: 0 15px;
}

/* =============== Header Styles =============== */

.menu-contact {
    display: flex;
    align-items: center;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.nav-contact {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  column-gap: 24px;
  gap: 40px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
  background-color: #ffffff;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  font-family: "roboto" sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 2em;
  display: flex;
  align-items: center;
}
.logo {
display: inline-flex;
align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  margin-bottom: 24px;
 
}

.logo-2 {
  color: #2e2f42;
}
.navbar-menu {
  display: flex;
align-items: center;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-family: "Roboto", serif;
  margin-bottom: 24px;

  
}
.menu-nav {
display: flex;
align-items: center;
padding: 24px 0 24px;
margin-top:24px ;
margin-bottom:24px;
}
.container-header {
  max-width: 1158px;
  margin: auto;
  margin: auto;
}


.header-list {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-list:hover {
  color: #404bbf;
}

.header-list:active {
  color: #404bbf;
}

.header-list:focus {
  color: #404bbf;
}

.header-ddress {
  font-style: normal;
}

.header-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contact:hover {
  color: #404bbf;
}

.header-contact:focus {
  color: #404bbf;
}

/* =============== Title Styles =============== */
.title {
  padding: 188px 0;
  background-color: #2e2f42;
}

.container-title {
  max-width: 1158px;
  margin: auto;
  margin: auto;
}

.container-title {
  max-width: 496px;
}

.title-name {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-top: 188px;
}

.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 68px;
  margin-bottom: 168px;
  font-weight: 500;
  font-size: 16px;
}

.button:focus {
  background-color: #404bbf;
}

.button:hover {
  background-color: #404bbf;
}

/* =============== Section Plan =============== */
.list-plan {
  padding: 120px 0;
}

.list-plan {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.menu-plan {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 264px;
  height: 104px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.plan-title {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-plan {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* === section team === */
.team {
  padding: 120px 0;
}

.team {
  border-radius: 0 0 4px 4px;
  margin: 24px;
  background: #f4f4fd;
}

.container-user {
  max-width: 1158px;
  margin: auto;
  margin: auto;
}

.our-team {
  align-items: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.our-items {
  display: flex;
  gap: 24px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.person {
  width: 232px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
}

.titel-items {
  text-align: center;
  display: block;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.profesion {
  display: flex;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* === section Portfolio === */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-portfolio {
  max-width: 1158px;
  margin: auto;
  margin: auto;

  
}

.portfolio-title {
text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
 
}

.items-portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 72px;
  gap: 24px;
  width: 1128px;

  
}

.foto-card {
  width: calc((100% - 48px) / 3);
  background: #ffffff;
  
}

.portfolio-card {
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
width: 360px;
height: 120px;
gap: 8px;

}

.portfolio-link {
  display:inline-flex ;
  margin-bottom: 8px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.card-text {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
  margin-bottom: 32px;
}

/* === section Footer === */
.footer {
  padding: 100px 0px;
  display: block;
  background-color: #2e2f42;
  color: rgb(255, 255, 255);
}
.main-list {
  padding: 100px 0px;
}
.conteiner-footer {
    display:block;
  justify-content: start;
  width: 1440px;
  margin-right: 156px;
  
}

.logo-footer {
     display: inline-block;
     margin-bottom: 16px;
    

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  width: 115px;
  height: 24px;


}

.main-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
  margin-bottom: 100px;
  font-family: "Roboto", sans-serif;
}

.studio-span {
  display: inline-block;
  color: #f4f4fd;
}
