/* =============== Common Styles =============== */

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
img {
    display: block;
    height: auto;
    max-width: auto;
}
ul,
ol {
    list-style-type: none;
    margin-top:auto;
    padding: auto;
}
a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.container-menu,
.container-buton,
.container-list-line,
.container-box,
.container-portfolio,
.container-footer 
.portfolio 
.footer-info
.box-card
.Portfolio-title
 {
    max-width: 1158px;
    margin:auto;
    padding: 0 15px;
}

/* =============== Header Styles =============== */
.navbar-menu {
    display: flex;
    justify-content: flex-start;
    column-gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.menu-nav {
    display: flex;
    gap: 40px;
}

.container-menu {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    height: 72px;
}

.logo-2 {
    color: #2e2f42;
}

body {
    font-family: "Roboto", serif;
    color: #434455;
    background-color: #ffffff;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    font-family: "Releway" ,serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 2em;
    line-height: 60px;
    list-style-type: none;
    text-decoration: none;
}

.logo {
    font-family: "Raleway",serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    margin-right: 76px;
    margin-top: 24px;
    margin-bottom: 24px;
    align-items: baseline;
}

.header-nav {
    font-family: "roboto" sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-list:hover {
    color: #404bbf;
}

.header-list:active {
    color: #404bbf;
}

.header-list:focus {
    color: #404bbf;
}

.header-ddress {
    font-style: normal;
}

.header-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-contact:hover {
    color: #404bbf;
}

.header-contact:focus {
    color: #404bbf;
}

/* =============== button Styles =============== */

.container-buton {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.button:focus {
    background-color: #404bbf;
}

.button:hover {
    background-color: #404bbf;
}
.button {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4em;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
}

.title {
    background-color: #2e2f42;
    margin-bottom: 24px;
    padding: 188px 0;
}
.title-name {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

/* === style Out Box === */

.list-line {
    padding: 120px 0;
}

.container-list-line {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;
}

.list-lina-plan {
    display: flex;
    gap: 24px;
}

.menu-list-plan {
    display: flex;
    align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 8px;
    width: calc((100% - 72px) / 4);
}
.caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    padding-top: 32px;
    justify-content: center;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
color: var(--navy-blue);
}
.exposition {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    padding: 8px;
    justify-content: center;
    text-align: center;
    font-weight: 400;
color: var(--slate);
}
/* === style Title === */
.box {
    background-color: #f4f4fd;
    padding: 120px 0;
}
.container-box {
    display: flex;
    flex-wrap: wrap;
}

.title-team {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 120px;
    padding-top: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 72px;
}
.box-card {
    display: flex;
    padding: 32px 0;
}

.box-title {
    flex-wrap: wrap;
    display: flex;
    gap: 24px;
}
.team {
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    margin: 24px;
    width: calc((100% - 72px) / 4);
}
.caption-box {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    padding-top: 32px;
    justify-content: center;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
color: var(--navy-blue);
}

.exposition-box {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    padding: 8px;
    justify-content: center;
    text-align: center;
    font-weight: 400;
color: var(--slate);
}
/* === style Portfolio === */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.container-portfolio {
    display: flex;
    flex-wrap: wrap;
}
.our-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}
.img-portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    gap: 24px;
    margin-top: 72px;
    margin-bottom: 48px;
}
.foto-card {
    margin-bottom: 48px;
    margin-left: 24px;
    width: calc((100% - 48px) / 3);
}
.Portfolio-img {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.caption-card {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    padding: 8px;
    justify-content: center;
    text-align: center;
    font-weight: 400;
color: var(--slate);
}
.exposition-card {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    padding: 8px;
    justify-content: center;
    text-align: center;
    font-weight: 400;
color: var(--slate);
}
/* === style Footer === */
.section {
    background: #2e2f42;
}

.studio {
    color: #f4f4fd;
    display: flex;
}

.main-list {
    background-color: #2e2f42;
    padding: 100px 0;

}

.container-footer {
    flex-direction: column;
    align-items: flex-start;
    width: 1440px;
    height: 312px;
    padding: 100px 0;
}

.main-footer {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.main-title {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    font-size: 16px;
    text-align: left;
    max-width: 264px;
}